openai
python-dotenv
slack_sdk
slack_bolt
requests
nest_asyncio
aiohttp
notion-client
awscli
boto3
pdf2image
PyPDF2
PyPDF
pdfplumber
langchain
faiss-cpu
langchain-community
tiktoken
google-api-python-client
